/*RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-familiy: Arial, sans-serif;
}

/* HEADER */
.topbar {
    background: #fff;
    padding: 20px 60px;
    display: flex;
    align-items: center;
}

.row-topbar {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 24px;
    margin-left: 60px;
    padding: 0;
}

.menu li {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    gap:45px;
    white-space: nowrap;
}

.btn-quote {
    margin-left: 40px;
    padding: 8px 18px;
    border: 1px solid #000;
    backkground: transparent;
    border-radius: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
     white-space: nowrap; 
}

.hero {
    backgoround:#000;
    padding: 60px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-text h1 {
    font-size : 42px;
    margin-bottom: 20px;
}
.hero-text p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 25px;
}

.btn-dark {
    background :#000;
    color:#fff;
    border: none;
    padding: 12px 22px;
    border-radius: 10px;
    cursor: pointer;
    white-space:nowrap ;
}

.hero-image {
    width: 320px;
}

.clients {
    background: #ffff;
    padding: 30px 60px;
    display: flex;
    justify-contet: space-between;
    font-weight: bold;
}

.services {
    background: #ffff;
    padding: 60px;
}

.services h2 span {
    backround : #b6ff5c;
    padding: 6px 14px;
    border- radius: 6px;
}

.services p {
    max-width: 600px;
    margin: 20px 0 30px;
    color: #555;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* CARD UMUM */
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
  border-radius: 28px;
  border: 2px solid #111;
  min-height: 200px;
}

/* ISI KIRI */
.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

/* highlight text seperti gambar */
.card h3 span {
  background: #b9ff66;
  padding: 2px 8px;
  border-radius: 6px;
}

/* tombol learn more */
.learn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

.learn .icon {
  width: 28px;
  height: 28px;
  background: #111;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GAMBAR */
.card img {
  max-width: 150px;
}

/* VARIAN WARNA */
.card.light {
  background: #f6f6f6;
}

.card.green {
  background: #b9ff66;
}

.card.dark {
  background: #111;
  color: #fff;
}

.card.dark .icon {
  background: #b9ff66;
  color: #111;
}
